# Django and extensions
django==4.2.7
django-cors-headers==4.3.0
django-filter==23.3
djangorestframework==3.14.0

# Database
pyodbc
django-mssql-backend==2.8.1
oracledb

# Image processing
Pillow==12.0.0

# Environment variables
python-dotenv==1.0.0

# API Documentation
drf-yasg==1.21.7

# Web Scraping / Data Generation
requests==2.31.0
beautifulsoup4==4.12.3

# Testing
pytest==7.4.3
pytest-django==4.7.0
faker==20.0.3

# Production
gunicorn==21.2.0
whitenoise==6.6.0